@media only screen and (max-width: 859px) {
    .footer {
        background-color: #000000;
        color: #FFFFFF;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        position: relative;
        width: 100%;

    }
    .dropdown {
        position: relative;
        display: block;
    }
    .dropdown-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px;
    }
    .dropdown-menu p {
        font-size: 20px;
        font-weight: 700;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        z-index: 1;
        margin-top: 0;
        margin-bottom: 0;
        width: 100vw;
        
    }
    .dropdown-content li {
        font-size: 16px;
        font-weight: lighter;
        list-style: none;
        color: #FFFFFF;
        padding: 5px 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .dropdown-content li a {
        text-decoration: none;
        margin-left: 0px;
    }
    
    .footer-first {
        display: block;
        padding-left: 0px;
        margin: 20px;
    }
    .footer-stars {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
        margin-right: 80px;
    }
    .footer-second {
        margin: 10px;
    }
    .footer-three {
        margin: 25px;
    }
    .footer li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        font-weight: 700;
    }
    
    h4 {
        color: #34FA98;
    }
    h5 {
        font-weight: normal;
        padding: 25px;
    }
    .iconlist {
        display: flex;
        color: #34FA98;
        margin-left: 10px;
    }
    .img-payment {
        width: 200px;
    }
    img {
        width: 100px;
    }
    
    .parr-one {
        margin-top: -8px;
        padding-bottom: 25px;
    }
    .text-green {
        color: #34FA98;
        font-size: 20px;
        font-weight: 700;
        margin: 30px 0px;
    }
    .wasap-logo {
        width: 60px;
        position: absolute;
        bottom: 2px;
        right: 5px;
    }
    .wasap-pic {
        width: 100%;
    }
    .footer-desktop {
        display: none;
    }
    
}

@media only screen and (min-width: 860px) {
    .footer-first, .footer-second, .footer-three,.text-green, .wasap-logo, h5 {
        display: none;
    }
    .footer-desktop {
        background-color: #000000;
        color: #FFFFFF;
        padding: 50px;
    }
    .footer-desktop li {
        font-size: 16px;
        list-style: none;
    }
    
    .footer-desktop-one,.footer-desktop-second {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .footer-desktop-one ul, .footer-desktop-second ul {
        width: 33%;
        line-height: 30px;
    }
    .footer-desktop-one ul p, .footer-desktop-second ul p {
          font-size: 20px;
    }
    .text-green-footer {
        color: #34FA98;
    }
    .img-payment {
        width: 50%;
    }
    .footer-desktop-one ul p a {
        text-decoration: none;
    }
    
}