.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer-header {
        margin: -45px;  
        height: 40px;
        background-color: #34FA98;
        -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
      
}
.footer-first {
    padding-left: 0px;
    margin-top: 75px;
    margin: 10px;
}
.footer-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}
.footer-second {
    margin: 25px;
}
.footer-three {
    margin: 25px;
}
.footer li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
}

h4 {
    color: #34FA98;
}
h5 {
    font-weight: normal;
    padding: 25px;
}
.iconlist {
    display: flex;
    color: #34FA98;
    margin-left: 10px;
}
.img-payment {
    width: 200px;
}
img {
    width: 100px;
}

.parr-one {
    margin-top: -8px;
    padding-bottom: 25px;
}
.text-green {
    color: #34FA98;
}