header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    padding-right: 10px;
    padding-left: 10px;
}

.menu {
    color: white;
    display: none;
}

.toggle-menu {
    display: none;
}