@media only screen and (max-width: 859px) {
    .headerstyle {
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 59px;
        min-width: 375px;
    }
    
    
    .dropdown {
        position: relative;
        display: inline-block;

    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 0;
        margin-bottom: 0;
        width: 100vw;
        
    }
    .dropdown-content li {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        font-weight: 700;
        list-style: none;
        color: #ffffff;
        margin: 5px;
        padding: 10px 20px;
        
    }
    .dropdown-content li a {
        text-decoration: none;
    }
    .dropdown-content li:hover{
        background-color: gray;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-icon{
        padding-left:20px;
        font-size: 30px;
    }
    .cart-icon {
        font-size: 30px;
        padding-right: 20px;
        color: #ffffff;
    }
    .toggle-menu {
        display: none;
    }
    
    .image-logo{
        min-width: 137px;
    }

}
/*DESKTOP*/
@media screen and (min-width: 860px) {
    header {
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 860px;
        height: 112px;
    }
    .dropdown{
        display: none;
    }
   
    .image-logo{
        min-width: 280px;
        padding-left: 20px;
    }
    .cart-icon {
        font-size: 30px;
        padding-right: 20px;
    }

}